.testimonials h2{
  text-align: center;
}

#slider_outer {
  max-width: 620px;
  height: 620px;
  margin: 0 auto;
  overflow: hidden;

}

.slides_wrapper {
position: relative;
  display: block;
  height: 390px;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides_wrapper::before {
  content: '“';
  color: green;
  font-size: 150px;
  display: block;
  position: absolute;
  left: 81%;
  top: 62%;
}

.slides_wrapper::after {
  content: '”';
  color: green;
  font-size: 150px;
  display: block;
  position: absolute;
  right: 86%;
  /*bottom: 100%;*/
}


/*.slides_wrapper li {
  display: none;
  margin: 30px auto;
  padding: 0 30px 0;

}*/

.slide {
  display: none;
  /*position: relative;*/
  position: absolute;
  list-style-type: none;
  max-width: 420px;
  height: 365px;
  /*border: 1px solid #ddd;*/
  border-radius: 2px;
  padding: 30px 30px 0;
  margin: 30px auto;

}


/*.slide:before {
    content: '';
    display: block;
    position: absolute;
    left: 70%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border: 32px solid transparent;
    border-top-color: #ddd;
}

.slide:after {
    content: '';
    display: block;
    position: absolute;
    left: 70%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border:30px solid transparent;
    border-top-color: white;
    margin-left: 2px;
}*/

.nav-thumbs{
      margin-top: 39px;
}
.nav-thumbs ul{list-style-type: none;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
padding: 0;}
/*.nav-thumbs ul li{
float:left; margin-top:20px;
}*/
.nav-thumbs ul li a{
  display:block;
  width:13px;
  height:13px;
  /*float: left;*/
  margin:0 5px;
  background-color: red;
  /*text-indent: -9999px;*/
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 100%;
}
.nav-thumbs ul li a:hover {
  background-color: #ff8080 !important;
}

.nav-thumbs ul li a.active{
  background-color: #a89d8a !important;
  transform: scale(0.9);
}


.nav-thumbs ul li a:active {
  /*transform: scale(0.8);*/
  animation: drop .1s ease-in;
  -webkit-animation: drop .1s ease-in; /* Safari 4.0 - 8.0 */
  box-shadow: 0 0 0 4px white,0 0 0 5px red;
}

@-webkit-keyframes drop{
  0%{
    box-shadow:0 0 0 white;
  }
  90%{
    box-shadow: 0 0 0 4px white,0 0 0 5px red;
  }
  100%{
    box-shadow: 0 0 0 4px white,0 0 0 5px red;
  }
}

@keyframes drop{
  0%{
    box-shadow:0 0 0 white;
  }
  90%{
    box-shadow: 0 0 0 4px white,0 0 0 5px red;
  }
  100%{
    box-shadow: 0 0 0 4px white,0 0 0 5px red;
  }
}
